<div class="sidebar" th:fragment="frg-employee-sidebar">
    <nav class="nav flex-column mt-5">
        <h5 class="text-white ms-3 mb-4" th:text="'Welcome : ' + ${sessionEmp.name}"> </h5>
        <a href="employeeProfile" class="nav-link">
            <i class="bi bi-house-fill"></i>
            <span class="ms-2"> My Profile </span>
        </a>
        <a href="sellCourse" class="nav-link">
            <i class="bi bi-book-fill"></i>
            <span class="ms-2"> Sell Course </span>
        </a>
        <a href="inquiryManagement" class="nav-link">
            <i class="bi bi-people-fill"></i>
            <span class="ms-2"> Inquiry Management </span>
        </a>
        <a href="followUps" class="nav-link">
            <i class="bi bi-person-lines-fill"></i>
            <span class="ms-2"> Follow Ups </span>
        </a>
        <a href="employeeLogout" class="nav-link">
            <i class="bi bi-box-arrow-in-right"></i>
            <span class="ms-2"> Logout </span>
        </a>
    </nav>
</div>