.sidebar {
    width: 20%;
    height: 100vh;
    position: fixed;
    background-color: rgb(28, 28, 28);
}

.sidebar .nav-link {
    color: white;
}

.sidebar .nav-link:hover {
    background-color: rgb(54, 54, 54);
}

.content {
    width: 80%;
    margin-left: 20%;
    padding: 30px;
}