<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Employee Profile</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">

    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css">

    <link rel="stylesheet" th:href="@{/css/style.css}" />

</head>

<body>

    <div th:replace="~{fragments/employee-sidebar :: frg-employee-sidebar}"></div>

    <div class="content">
        <h2 th:text="'Welcome : ' + ${sessionEmp.name}"></h2>
        <p> This is employee panel </p>
        
        <section class="container py-5">
            <div class="row">
                <div class="col-lg-4">
                    <div class="card shadow" style="width: 18rem;">
                        <div class="card-body">
                            <div class="text-center">
                                <i class="bi bi-person-circle" style="font-size: 8rem;"></i>
                                <h3 th:text="${sessionEmp.name}"></h3>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-8">
                    <div class="card shadow">
                        <div class="card-body">
                            <div class="text-center">
                                <h4 class="mb-4"> Employee Details </h4>

                                <table class="table table-striped table-hover table-bordered">
                                    <tbody>
                                        <tr>
                                            <td>Name</td>
                                            <td th:text="${sessionEmp.name}"></td>
                                        </tr>
                                        <tr>
                                            <td>Email</td>
                                            <td th:text="${sessionEmp.email}"></td>
                                        </tr>
                                        <tr>
                                            <td>Phone No.</td>
                                            <td th:text="${sessionEmp.phoneNo}"></td>
                                        </tr>
                                        <tr>
                                            <td>City</td>
                                            <td th:text="${sessionEmp.city}"></td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        
    </div>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz"
        crossorigin="anonymous"></script>
</body>

</html>