<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>New Inquiry</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">

    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css">

    <link rel="stylesheet" th:href="@{/css/style.css}" />

</head>

<body>

    <div th:replace="~{fragments/employee-sidebar :: frg-employee-sidebar}"></div>

    <div class="content">
        <h2> New Inquiry </h2>
        <p> Provide customer details properly </p>
        
        <section class="mt-5">
        	<h3 class="text-center"> Add New Inquiry </h3>
        	
        	<div class="row justify-content-center">
        		<div class="card shadow p-5" style="width: 40%">
		            <form th:action="@{/submitInquiryForm}" method="POST" th:object="${inquiry}">
			            <div class="mb-3">
			                <label class="form-label">Customer Phone Number:</label>
			                <input type="text" name="phoneno" class="form-control" placeholder="Enter customer phone no." required />
			            </div>
			            <div class="mb-3">
			                <label class="form-label">Customer Name:</label>
			                <input type="text" name="name" class="form-control" placeholder="Enter customer name" required />
			            </div>
			            <div class="mb-3">
			                <label class="form-label">Interested Course:</label>
			                <input type="text" name="interestedCourse" class="form-control" placeholder="Enter interested Course" required />
			            </div>
			            <div class="mb-3">
			                <label class="form-label">Discussion:</label>
			                <textarea name="discussion" class="form-control" placeholder="Enter discussion" required></textarea>
			            </div>
			            <div class="mb-3">
			                <label class="form-label">Inquiry Type:</label>
			                <select name="inquiryType" class="form-select" required>
			                	<option value="" selected disabled>Select Inquiry Type</option>
			                    <option value="Call">Call</option>
			                    <option value="Mail">Mail</option>
			                    <option value="Website">Website</option>
			                    <option value="Social Network">Social Network</option>
			                    <option value="Friend Reference">Friend Reference</option>
			                    <option value="Advertisement">Advertisement</option>
			                    <option value="Other">Other</option>
			                </select>
			            </div>
			            <div class="mb-3">
			                <label class="form-label">Call Type:</label>
			                <select name="callType" class="form-select" required>
			                	<option value="" selected disabled>Select Call Type</option>
			                    <option value="Inbound Call">Inbound Call (customer call to company)</option>
			                    <option value="Outbound Call">Outbound Call (company call to customer)</option>
			                </select>
			            </div>
			            <div class="mb-3">
			                <label class="form-label">Status:</label>
			                <select name="status" class="form-select" id="status" onchange="toggleFollowUpDate()" required>
			                    <option value="" selected disabled>Select Status</option>
			                    <option value="Interested - (follow up)">Interested - (follow up)</option>
			                    <option value="Interested - (closed)">Interested - (closed)</option>
			                    <option value="Not Interested - (closed)">Not Interested - (closed)</option>
			                    <option value="Purchased - (closed)">Purchased - (closed)</option>
			                    <option value="Others - (closed)">Others - (closed)</option>
			                </select>
			            </div>
			            <div class="mb-3" id="followUpDateDiv">
			                <label class="form-label">Follow Up Date:</label>
			                <input name="followUpDate" type="date" class="form-control" placeholder="Enter follow up date" />
			            </div>
			            <button type="submit" class="btn btn-primary">Add New Inquiry</button>
			        </form>
			    </div>
			</div>
        </section>
        
    </div>
    
    <script>
    	function toggleFollowUpDate()
    	{
    		var status = document.getElementById("status").value;
    		var followUpDateDiv = document.getElementById("followUpDateDiv");
    		
    		if(status === "Interested - (follow up)")
    		{
    			followUpDateDiv.style.display = "block";
    		}
    		else
    		{
    			followUpDateDiv.style.display = "none";
    		}
    	}
    </script>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz"
        crossorigin="anonymous"></script>
</body>

</html>