<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Provide Feedback</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">

    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css">

</head>

<body>

    <!-- header starts -->
    <div th:replace="~{fragments/user-header :: u-header}"></div>
    <!-- header ends -->

    <!-- main content starts -->
    <main class="container-fluid" style="min-height: 550px;">
        <!-- content -->
        <section class="container py-5">
            <!-- courses -->
            <div class="row justify-content-center">
                <!-- register card start -->
                <div class="col-lg-5 col-md-6">
                    
                    <div th:if="${successMsg}" class="mb-3 alert alert-success" role="alert">
                        <span th:text="${successMsg}"></span>
                    </div>
                    
                    <div th:if="${errorMsg}" class="mb-3 alert alert-danger" role="alert">
                        <span th:text="${errorMsg}"></span>
                    </div>
                            
                    <div class="card shadow p-5">
                        <form action="feedbackForm" method="post" th:object="${feedback}">
                            <div class="mb-3">
                                <label class="form-label">Name : </label>
                                <input type="text" name="userName" th:value="${sessionUser.name}" class="form-control" readonly />
                            </div>
                            <div class="mb-3">
                                <label class="form-label">Email Id :</label>
                                <input type="text" name="userEmail" th:value="${sessionUser.email}" class="form-control" readonly />
                            </div>
                            <div class="mb-3">
                                <label class="form-label">Feedback : </label>
                                <textarea name="userFeedback" class="form-control" required></textarea>
                            </div>
                            <button type="submit" class="btn btn-primary">Send Feedback</button>
                        </form>
                    </div>
                </div>
            </div>
            <!-- register card ends -->
        </section>
    </main>
    <!-- main content ends -->

    <!-- footer starts -->
    <div th:replace="~{fragments/footer :: crm-footer}"></div>
    <!-- footer ends -->

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz"
        crossorigin="anonymous"></script>
</body>

</html>
